* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* Main */
main {
    padding: 1em;
  }
  
  /* Secciones */
  section {
    margin-bottom: 1em;
  }
  
  section h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  section p {
    margin-bottom: 1em;
  }
  
  /* Experiencia laboral */
  #experiencia-laboral ul {
    list-style: none;
    padding: 0;
  }
  
  #experiencia-laboral li {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
  }
  
  #experiencia-laboral h3 {
    font-size: 18px;
    margin: 0;
  }

  /*Estilos para el header*/
  header {
    background-color: #333333;
    color: #ffffff;
    padding: 1em;
    text-align: center;
  }

  header h1 {
    font-size: 24 px;
    margin: 0.5em 0;
  }

  header p {
    font-size: 16px;
    margin: 0.5em 0;
  }
  